extends layout

block content

    .d-flex.flex-column.flex-md-row.align-items-center.p-2.px-md-2.mb-3.bg-gray.border-bottom.shadow-sm.h-md-250
        form
            .input-group
                select#inputGroupSelect04.custom-select
                    option(selected='') What type of freelancer?
                    option Hair stylist
                    option Style Educator
                    option Assistant
                .input-group-append
                select#inputGroupSelect04.custom-select
                    option(selected='') Which location?
                    option Kandy
                    option Colombo
                    option Galle
                .input-group-append

                .input-group-append
                select#inputGroupSelect04.custom-select
                    option(selected='') Required session length?
                    option Full day
                    option Half day-Morning
                    option Half day-Evening
                .input-group-append
                    button.btn.btn-primary.w-25 Find


    //=========================================================================================================================

    .container-flex.my-1.p-4.mx-0.py-0
        .row
            .col-sm-4.w-25
                    form(action='/search', method="post")
                        .form-group
                            h6 Stylist Type
                            select(name='stylist-type')#inputGroupSelect04.custom-select
                                option(selected='') Type?
                                option Hair stylist
                                option Style Educator
                                option Assistant
                        .form-group
                            h6 Location
                            select(name='stylist-city')#inputGroupSelect04.custom-select
                                option(selected='') City?
                                option Kandy
                                option Colombo
                                option Galle
                        .form-group
                            h6 Date
                            input(type='date', name='sty-date')#inputGroupSelect04.custom-select
                        .form-group
                            h6 Session Length
                            select(name='session-length')#inputGroupSelect04.custom-select
                                option(selected='') Session?
                                option Full day
                                option Half day-Morning
                                option Half day-Evening
                        .form-group
                            h6 Skill
                            select(name='sty-skill')#inputGroupSelect04.custom-select
                                option(selected='') Required session skill?
                                option Hair Cuts
                                option Teaching
                                option Coloring
                        .form-group
                            h6 Payment Rate
                            .row
                                .col-sm-6
                                    input#exampleInputPassword1.form-control(type='number', placeholder='Minimum', name='sty-min')
                                .col-sm-6
                                    input#exampleInputPassword1.form-control(type='number', placeholder='Maximum', name='sty-max')
                        .form-group
                            h6 Gender
                            select(name='sty-gender')#inputGroupSelect04.custom-select
                                option(selected='') Gender?
                                option Male
                                option Female
                                option Any
                        .form-group
                            h6 Experienced
                            select(name='sty-experience-level')#inputGroupSelect04.custom-select
                                option(selected='') Experienced level?
                                option Qualified
                                option Average qualified
                                option Beginner

                        .form-group
                            h6 Rating
                            select(name='sty-rating')#inputGroupSelect04.custom-select
                                option(selected='') Rating?
                                option 1
                                option 2
                                option 3
                                option 4
                                option 5

                        button.btn.btn-primary.w-100.my-4(type='submit') Submit


            .col-sm-8.w-75
                each val in stylists
                    form(action='/profile', method="post")
                        .row
                            .card.col-md-16.p-3
                                .row
                                    .col-md-4
                                        img.w-100.h-100(src='./images/stylistdp/' + val.id + '.jpg' name='profile-picture')
                                        input(type='hidden', name='id', value=val.id)
                                    .col-md-4
                                        .card-block.mx-0
                                            h4(name='title').card-title #{val.name}
                                                span.badge.badge-primary.mx-2 #{val.rating}/5.0
                                            a.btn.btn-dark.disabled.text-white(name='stytype') #{val.type}
                                            a.btn.disabled(name='stytype') #LocationNotAssined
                                            button.btn.btn-success.w-100.my-3.rounded.text-white(name='view', type='submit') View
                                            button.btn.btn-success.w-100.text-white(onclick="window.location.href='/profile'") Book Now
                                    .col-md-4.my-2
                                        .card-block
                                            h6.card-title Full <Day></Day>
                                            a.btn.btn-dark.disabled.text-white.w-75(name='fd') LKR2000
                                            h6.card-title Half Day/Morning
                                            a.btn.btn-dark.disabled.text-white.w-75(name='hdm') LKR1200
                                            h6.card-title Half Day/Evening
                                            a.btn.btn-dark.disabled.text-white.w-75(name='hde') LKR1500






